@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;600;700;800;900&family=Roboto:wght@300;400;500;700;900&display=swap');
html {
    font-family: 'Roboto', sans-serif !important;
}
html, body{
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Barlow', sans-serif !important;
}

.Barlow{
    font-family: 'Barlow', sans-serif !important;
}
.edit a {
    font-family: 'Barlow', sans-serif !important;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

span.datepicker-cell{
    color: #000 !important;
}
/* input[type="checkbox"].form-checkbox:checked + label {
    color: green-600;
  } */
  /* Default label color */
#myCheckbox ~ #myLabel {
    color: #0D2F3F;
    font-weight: 500;
  }
  
  /* Checked label color */
  #myCheckbox:checked ~ #myLabel {
    color: #1f7f7b;
  }
#myCheckbox1 ~ #myLabel1 {
    color: #0D2F3F;
    font-weight: 500;
  }
  
  /* Checked label color */
  #myCheckbox1:checked ~ #myLabel1 {
    color: #1f7f7b;
  }
#myCheckbox2 ~ #myLabel2 {
    color: #0D2F3F;
    font-weight: 500;
  }
  
  /* Checked label color */
  #myCheckbox2:checked ~ #myLabel2 {
    color: #1f7f7b;
  }
#myCheckbox3 ~ #myLabel3 {
    color: #0D2F3F;
    font-weight: 500;
  }
  
  /* Checked label color */
  #myCheckbox3:checked ~ #myLabel3 {
    color: #1f7f7b;
  }
#myCheckbox4 ~ #myLabel4 {
    color: #0D2F3F;
    font-weight: 500;
  }
  
  /* Checked label color */
  #myCheckbox4:checked ~ #myLabel4 {
    color: #1f7f7b;
  }
#myCheckbox5 ~ #myLabel5 {
    color: #0D2F3F;
    font-weight: 500;
  }
  
  /* Checked label color */
  #myCheckbox5:checked ~ #myLabel5 {
    color: #1f7f7b;
  }
#myCheckbox6 ~ #myLabel6 {
    color: #0D2F3F;
    font-weight: 500;
  }
  
  /* Checked label color */
  #myCheckbox6:checked ~ #myLabel6 {
    color: #1f7f7b;
  }
#myCheckbox7 ~ #myLabel7 {
    color: #0D2F3F;
    font-weight: 500;
  }
  
  /* Checked label color */
  #myCheckbox7:checked ~ #myLabel7 {
    color: #1f7f7b;
  }

.select2-container--default .select2-selection--single
{
    border-radius: 0px !important;
    border: none !important;
    border-right: 1px solid white !important;
    background: none !important ;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-color: yellow transparent transparent transparent !important;

}

.Country .select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #0D2F3F !important;
    text-align: left;
}
.Country .select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-color: black transparent transparent transparent !important;
}
.Number .select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 26px;
    position: absolute;
    top: 6px;
    right: 1px;
    width: 20px;
}
.Number .select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #0D2F3F !important;
    text-align: left;
    padding-top: 5px;
}
.Number .select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-color: black transparent transparent transparent !important;
}
#example_length,
#example_filter,
#example_info,
#example_paginate,
#example2_length,
#example2_filter,
#example2_info,
#example2_paginate,
#example1_length,
#example1_filter,
#example1_info,
#example1_paginate {
    display: none;
}

table.dataTable thead>tr>th.sorting:before,
table.dataTable thead>tr>th.sorting_asc:before {
    bottom: 50%;
    content: "";
}

table.dataTable thead>tr>th.sorting:after,
table.dataTable thead>tr>th.sorting_asc:after {
    content: "";
}

table.dataTable thead th,
table.dataTable thead td {
    padding-left: 30px !important;
    border-bottom: none;
}

table.dataTable thead th,
table.dataTable tfoot th {
    font-weight: normal;
    font-size: 16px;
}

table.dataTable tbody th,
table.dataTable tbody td {
    padding: 10px 0;
    padding-left: 30px;
    padding-right: 0px;
}

table.dataTable thead>tr>th.sorting,
table.dataTable thead>tr>th.sorting_asc {
    padding-right: 0px;
}

table.dataTable.no-footer {
    border-bottom: none;
}

table.dataTable tbody tr {
    background-color: transparent !important;
}

table.dataTable.display tbody tr th {
    color: #000 !important;
}

table.dataTable.display>tbody>tr.odd>.sorting_1,
table.dataTable.order-column.stripe>tbody>tr.odd>.sorting_1 {
    box-shadow: none;
}

table.dataTable.display>tbody>tr.odd>.sorting_1,
table.dataTable.order-column.stripe>tbody>tr.odd>.sorting_1 {
    box-shadow: none;
}

table.dataTable.display>tbody>tr.odd>.sorting_1,
table.dataTable.order-column.stripe>tbody>tr.odd>.sorting_1 {
    box-shadow: none !important;
}

table.dataTable.stripe>tbody>tr.odd>*,
table.dataTable.display>tbody>tr.odd>* {
    box-shadow: none;
}

table.dataTable {
    /* border-radius: 25px !important; */
    overflow: hidden;
}

div#example_wrapper,
div#example1_wrapper,
div#example2_wrapper {
    background: #ffffff;
    border-radius: 7px;
    overflow: hidden;
    border: 2px solid #E4E4E4;
}

table.dataTable thead th,
table.dataTable thead td {
    padding: 21px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

table.dataTable.display>tbody>tr.even>.sorting_1,
table.dataTable.order-column.stripe>tbody>tr.even>.sorting_1 {
    box-shadow: none;
}

table.dataTable.order-column>tbody tr>.sorting_1,
table.dataTable.order-column>tbody tr>.sorting_2,
table.dataTable.order-column>tbody tr>.sorting_3,
table.dataTable.display>tbody tr>.sorting_1,
table.dataTable.display>tbody tr>.sorting_2,
table.dataTable.display>tbody tr>.sorting_3 {
    box-shadow: none;
}

table.dataTable.hover>tbody>tr:hover>*,
table.dataTable.display>tbody>tr:hover>* {
    box-shadow: none !important;
}
table.dataTable>tbody>tr.child ul.dtr-details {
    width: 100%;
}

#myTab li button {
    color: #0d2f3f !important;
}

.datepicker-cell {
    color: #000;
}

.effect::after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
    background: linear-gradient(360deg, rgba(17, 36, 55, 0.5) 1.39%, rgba(17, 36, 55, 0.782698) 69.73%, rgba(17, 36, 55, 0) 100%);
}

.animate-custom {
    animation: custom forwards 2s infinite ease-in-out;
}

.okkkk::before {
    animation: okkk forwards 1s infinite ease-in-out;
    width: 96px;
    height: 96px;
    border-radius: 50%;
    position: absolute;
    background-color: white;
    left: 0%;
    top: 0%;
    transform: translate(-50%, -50%);
    content: "";
    z-index: -1;
    transform-origin: center;
    display: inline-block;
}
.okkk::before {
    animation: okkk forwards 1s infinite ease-in-out;
    width: 96px;
    height: 96px;
    border-radius: 50%;
    position: absolute;
    background-color: #0D2F3F;
    left: 0%;
    top: 0%;
    transform: translate(-50%, -50%);
    content: "";
    z-index: -1;
    transform-origin: center;
    display: inline-block;
}


@keyframes okkk {
    0% {
        transform: scale(1);
        opacity: 1;
        transform-origin: center;
    }
    20% {
        transform: scale(1.1);
        opacity: .8;
        transform-origin: center;
    }
    40% {
        transform: scale(1.2);
        opacity: .6;
        transform-origin: center;
    }
    60% {
        transform: scale(1.3);
        opacity: .4;
        transform-origin: center;
    }
    80% {
        transform: scale(1.4);
        opacity: .2;
    }
    100% {
        transform: scale(1.5);
        opacity: 0;
    }
}

.faq-body {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
}

/* slider css */
.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
    content: '' !important;
}
.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
    content: '' !important;
}
.swiper-button-lock{
    display: flex !important ;
}
.swiper-button-prev, .swiper-button-next{
top: 90% !important;
width: 45px !important;
height: 45px !important;
border:1px solid #399F6E;
background-color: transparent;
border-radius: 50%;
color: #399F6E !important;
transition: all .3s ease-in-out ;
}
.swiper-button-prev:hover, .swiper-button-next:hover{
    background: #399F6E;
    color: white !important;
}

.swiper-button-prev{
    left: 47% !important;
}
.swiper-button-next{
    left: 53% !important;
}
.swiper-button-prev-ForOffers, .swiper-button-next-ForOffers, .swiper-button-prev-event, .swiper-button-next-event, .swiper-button-prev-TourEvent, .swiper-button-next-TourEvent{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #399F6E;
    color: white;
    z-index: 110 !important;
    border-radius: 50%;
}
.swiper-button-prev-NewTravel, .swiper-button-next-NewTravel{
    position: absolute;
    width: 54px;
    height: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
    border:1px solid #399F6E;
    color: white;
    z-index: 110 !important;
    border-radius: 50%;
}

.swiper-button-prev-NewTravel:hover, .swiper-button-next-NewTravel:hover{
    background: #399F6E;
}
.swiper-button-prev-NewTravel:hover i, .swiper-button-next-NewTravel:hover i{
    color: white;
}
.swiper-button-prev-TourEvent, .swiper-button-next-TourEvent{
    top: 30%;
}
.swiper-button-prev-ForOffers, .swiper-button-prev-TourEvent{
    left: -20px;
}
.swiper-button-next-ForOffers, .swiper-button-next-TourEvent{
    right:-20px;
}
.swiper-button-prev-event{
    left: -20px !important;
}
.swiper-button-next-event{
    right:-20px !important;
}
.swiper-button-next-NewTravel{
right: -20px;
}
.swiper-button-next-NewTravel{
right: 0px;
top: -90px;
}
.swiper-button-prev-NewTravel{
right: 70px;
top: -90px;
}

/* range bg color change */
.range-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background-color: red !important;
    border: 1px solid red !important;
    border-radius: 50%;
    cursor: pointer;
    margin-top: -5px;
  }

  .range-slider::-webkit-slider-runnable-track {
    width: 100%;
    cursor: pointer;
    height: 10px;
    background-color: red;
    border-radius: 35px;
    /* overflow: hidden !important; */
  }



/* modal */

.modal {
    max-width: 800px !important;
}


.linked {
    color: white !important;
}


/* media queries */

@media only screen and (max-width: 992px) {
    .close {
        top: 5px !important;
        left: 5px !important;
        width: 30px !important;
        height: 30px !important;
    }
    .swiper-button-prev{
        left: 40% !important;
    }
    .swiper-button-next{
        left: 50% !important;
    }
    .swiper-button-prev-ForOffers, .swiper-button-prev-TourEvent{
        left: 0px;
    }
    .swiper-button-next-ForOffers, .swiper-button-next-TourEvent{
        right:0px;
    }
}

@media only screen and (max-width: 567px) {
    .portfolio_list {
        column-count: 1 !important;
    }
    .swiper-button-prev{
        left: 30% !important;
    }
    .swiper-button-next{
        left: 50% !important;
    }
    .swiper-button-prev-ForOffers{
        left: 0px;
    }
    .swiper-button-next-ForOffers{
        right:0px;
    }
    .swiper-button-prev-event{
        left: 0px !important;
    }
    .swiper-button-next-event{
        right:0px !important;
    }
    .swiper-button-next-NewTravel{
        left: 60%;
        transform: translateX(-50%);
        top:auto !important ;
        bottom: 25px !important;
        }
        .swiper-button-prev-NewTravel{
        left: 40%;
        transform: translateX(-50%);
        top:auto !important ;
        bottom: 25px !important;
        }


}

/* ========== Guest Select  ==========*/

.guest-select {
    visibility: hidden;
    opacity: 0;
    transform: translateY(10px);
    transition: all .3s ease;
}

.guest-select.show {
    visibility: visible;
    opacity: 1;   
    transform: translateY(0);
}

/* ========== Date range picker  ==========*/
.daterangepicker {
    margin-top: 15px;
}
.daterangepicker td.active {
    background-color: #FFC62D;
    width: 30px;
    height: 30px;
    border-radius: 50% !important;
}
.daterangepicker td.active:hover {
    background-color: #FFC62D;
}
.daterangepicker .drp-buttons .btn-primary {
    background-color: #399F6E;
}
.daterangepicker th.month {
    background-color: #399F6E;
    color: white;
}
.daterangepicker .calendar-table .prev span, .daterangepicker .calendar-table .next span {
    border-color: white;
    color: white;
}
.daterangepicker .calendar-table .prev, .daterangepicker .calendar-table .next {
    transition: all 0.3s ease;
}
.daterangepicker .calendar-table .prev:hover, .daterangepicker .calendar-table .next:hover {
    background-color: #FFC62D;
}
.daterangepicker .calendar-table th {
    border-radius: 0;
}
.daterangepicker .table-condensed thead tr:first-child {
    background-color: #399F6E;
    margin-bottom: 20px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.daterangepicker .table-condensed thead tr:nth-child(2) th {
    padding-top: 15px;
}
.daterangepicker .calendar-table th, .daterangepicker .daterangepicker .calendar-table td {
    height: 35px;
    border: none;
}
.daterangepicker .calendar-table td, .daterangepicker td.active {
    height: 35px !important;
    width: 35px !important;
}
.daterangepicker.opensright::before {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent #399F6E transparent;
    position: absolute;
    top: -10px;
    left: 30px;
}
.daterangepicker.opensright::after {
    display: none;
}
.daterangepicker.opensleft {
    margin-top: 10px;
}
.daterangepicker.opensleft::before {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent #399F6E transparent;
    position: absolute;
    top: -10px;
    right: 30px;
}
.daterangepicker.opensleft::after {
    display: none;
}
span.clockpicker-span-hours.text-primary, span.clockpicker-span-minutes.text-primary {
    color: #399F6E !important;
}

/* ========== Location Select  ========== */
.select2-container--default .select2-selection--single {
    border: none;
    background-color: transparent;
}



.select2-container {
    width: auto !important;
}

.c-select .select2-dropdown {
    max-width: 240px;
    background-color: #fff;
    border: none;
    border-bottom: 5px solid #399F6E;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    margin-top: 20px;
    padding: 0px 0px 10px 0px;
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.07);
}

.c-select .select2-dropdown.select2-dropdown--above {
    top: -30px;
}

.c-select .select2-dropdown.select2-dropdown--above::after {
    top: 105%;
    transform: rotate(180deg);
}

.c-select .select2-dropdown::after {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent #399F6E transparent;
    position: absolute;
    top: -10px;
    left: 25px;
}

.c-select .select2-dropdown .select2-results__option {
    padding: 10px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1;
    color: #000;
}
.c-select .select2-dropdown .location-icon {
    display: flex;
    gap: 10px;
}

.c-select .select2-container--default .select2-selection--single .select2-selection__placeholder {
    color: #7D7E87;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
    border: 1px solid #ebebeb !important;
}

.select2-container--default .select2-search--dropdown .select2-search__field:focus {
    border: none !important;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    display: none;
}

.c-select .select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
    background-color: transparent;
    color: #000;
}

.c-select ::-webkit-scrollbar {
    width: 3px;
    height: 90%;
    margin-left: -3px;
    padding-top: 5px;
    margin-top: 10px;
}

.c-select ::-webkit-scrollbar-track {
    background-color: #ebebeb;
    border-radius: 7px;
}

.c-select ::-webkit-scrollbar-thumb {
    border-radius: 7px;
    background: #999;
}


